# dependencies
node_modules/

# next.js build
.next/
out/

# env files
.env
.env.local
.env.production

# debug logs
npm-debug.log*

# editor / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
